%h1 Create User

= form_tag '/user_lookup/ldap' do |f|
  .input.string.netid
    = text_field_tag 'netid', nil, placeholder: 'Enter NetID', class: 'string'
    = submit_tag 'Lookup User', :class => "button"

.links
  = link_to 'List Users', users_path
