%h1 Listing distributions

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @distributions.each do |distribution|
      %tr
        %td= link_to 'Show', dataset_distribution_path(@dataset, distribution)
        %td= link_to 'Edit', edit_dataset_distribution_path(@dataset, distribution)
        %td= link_to 'Destroy', dataset_distribution_path(@dataset, distribution), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Distribution', new_dataset_distribution_path(@dataset)
