.about
  .heading.text-center
    %h1
      Galter DataCat
    %h4.subheader
      Feinberg School of Medicine Northwestern University Data Portal
  .grid-x.grid-margin-x.align-middle
    .medium-1.cell
    .medium-4.cell
      %h3
        Motivation
    .medium-6.cell.text-left
      %p 
        A great number of data sets exist but are underutilized and difficult to discover. Making data discoverable helps to promote open science practices and increases reproducibility of research. Providing researchers tools to highlight and disseminate their data sets as well as identify other existing data sets could lead to decreased duplication of effort and cost, new opportunities to collaborate, validation for past studies, new questions and research ideas, and the potential for increased future grant funding. 
      %p 
        Datasets are an important research product, requiring time, money, and hard work to generate and maintain. Improved tools and strategies to enhance dissemination, discovery, reuse, and enable other improvements are sorely needed. DataCat can help!
    .medium-1.cell
  %hr
  .grid-x.grid-margin-x.align-middle
    .medium-1.cell
    .medium-4.cell
      %h3 
        Objectives
    .medium-6.cell.text-left
      %p 
        DataCat is designed with both data creators and data consumers in mind. By linking creators of data sets to potential users, we help to facilitate data discovery and reuse as well as data set improvement through community vetting. DataCat helps to provide:
      %ul
        %li
          Support for graduate students, postdoctoral trainees, early stage investigators, and anyone else working with data
        %li
          Example data for pilot studies
        %li
          Scientific transparency, reproducibility, and data set record preservation
      %p 
        DataCat can foster collaboration by connecting researchers with similar interests to each other and by helping users identify subject experts. Note that we seek only to provide an avenue for communication between parties. Researchers continue to have control over access to their data, and it is up to them whether they share it.
    .medium-1.cell
  %hr
  .grid-x.grid-margin-x.align-middle
    .medium-1.cell
    .medium-4.cell
      %h3
        Future Work
    .medium-6.cell.text-left
      %p DataCat will be linked to axillary sources such as:
      %ul
        %li
          Research data management platforms
        %li
          Research Information Systems
        %li
          Grants
        %li
          Publications
        %li 
          Research studies
      %p Other planned enhancements include:
      %ul
        %li
          Development of resources and materials to support stakeholders with deposit, management, and preservation of data assets across interdisciplinary research topics.
        %li 
          Integration of 
          %a{:href => "https://www.ncbi.nlm.nih.gov/pubmed/26978244"}
            FAIR data standards 
          (Findable, Accessible, Interoperable, and Reusable), supplemented with additional principles of Traceable, Licensed, and Connected 
          %a{:href => "https://zenodo.org/record/203295#.Wi62TLQ-fUJ"}
            (FAIR-TLC).
        %li
          Assessment of licensing to evaluate a resource's data license for use and reuse. 
        %li
          A post-deposit “peer review” feature similar to the strategy used in PubMed Commons will be incorporated.
    .medium-1.cell
  %hr
  .grid-x.grid-margin-x.align-middle
    .medium-1.cell
    .medium-4.cell
      %h3 
        Contributors
    .medium-6.cell.text-left
      %p 
        Development Team
      %ul
        %li
          Matt Carson (Research Data Scientist and Head, Digital Systems, Galter Health Sciences Library & Learning Center)
        %li
          Piotr Hebal (Senior Developer)
        %li
          Austin Sharp (Developer)
        %li
          Kristi Holmes (Associate Professor, Preventive Medicine-Health and Biomedical Informatics and Director, Galter Health Sciences Library & Learning Center)
      %p 
        The current work builds on a pilot project by Matt Carson, Paul Friedman (Senior Developer), Violeta Ilik (Librarian), Pamela Shaw (Librarian), Kristi Holmes, and Justin Starren (Professor, Preventive Medicine-Health and Biomedical Informatics).
    .medium-1.cell
  %hr
  .grid-x.grid-margin-x.align-middle.bottom
    .medium-1.cell
    .medium-4.cell
      %h3 
        Support
    .medium-6.cell.text-left
      %p
        Development of the DataCat platform was supported, in part, by the National Institutes of Health's National Center for Advancing Translational Sciences, Grant Numbers UL1TR001422 and U24TR002306. 
    .medium-1.cell 
