.welcome.text-center
  %h1
    Galter DataCat
  %h4.subheader
    Feinberg School of Medicine Northwestern University Data Portal
    
  = form_tag('/datasets/search', id: 'dataset_search_form') do 
    = search_field_tag 'q', params[:q], placeholder: 'Enter your search query here', class: 'special_input'
  -# using form attribute outside of the actual form can still bind it to the form. for modern browsers
  %input{type: "submit", value: "Search Datasets", form: "dataset_search_form", class: "button"}
  = link_to(datasets_path) do
    .button
      Browse Datasets

  - unless @categories.blank?
    .categories
      %h3
        Explore Categories
      %ul
        - @categories.each_with_index do |c, i|
          %li{ class: "category_item"}
            = link_to(c, datasets_path(category: c))
