.grid-x.login
  .card
    .card-divider
      %h4.subheader Galter DataCat
      %h2 Log In
      %p.subheader with your NetID
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.text_field :username, autofocus: true, label: :username, placeholder: 'Username (NetID)'
      .field
        = f.password_field :password, autocomplete: "off", label: :password, placeholder: 'Password'
      .actions
        = f.submit "Log in", class: 'button'
