.callout p {
  font-weight: bold;
  margin: auto;
}

small.error {
  display: block;
  color: red;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

abbr[title='required'] {
  color: red;
  font-weight: bold;
}