// small medium large icons 
i.small { font-size: 0.8rem; }
i.medium { font-size: 1.4rem; }
i.large { font-size: 2rem; }

// NU Brand Colors
$nu-primary: #514689;
$nu-primary-70tint: #7571B0;
$nu-primary-50tint: #938FC3;
$nu-primary-30tint: #B8B7DA;
$nu-secondary: #4F66AF;
$nu-secondary-75tint: #767DBC;
$nu-secondary-50tint: #9C9FD0;
$nu-secondary-30tint: #C0C2E2;
$nu-grey: #54585A;
$nu-grey-75tint: #7F8283;
$nu-grey-50tint: #A9ABAC;
$nu-grey-30tint: #D4D5D6;
$nu-green-dark: #00A144;
$nu-green-light: #CDF641;
$nu-orange-dark: #DF6426;
$nu-orange-light: #EDAC1A;
