@import 'custom_defaults';

// Place all the styles related to the datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_dataset, .edit_dataset {
  label {
    font-size: 1.25em;
    display: inline-block;
    width: 10em;
  }
  input, select, textarea {
    display: inline-block;
    width: 80%;
  }
  textarea {
    height: 5.9375rem;
  }
  .text {
    label {
      vertical-align: top;
    }
  }
  .button {
    font-size: 1.5em;
    width: 12.5em;
  }  
}

.chosen-container {
  margin: 0 0 1rem -4px;
  padding: 0;
}

.chosen-container-multi {
  .chosen-choices {
    -moz-appearance: none;
    background-color: #fefefe;
    border: 1px solid #cacaca;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    height: 2.4375rem;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s;
    width: 100%;
    li.search-choice { 
      margin: 9px 5px 3px 0;
    }
  }
}

.dataset_show {
  .header {
    margin: 2rem;
  }
  
  .ds_title {
    font-weight: bold;
    color: $nu-primary;
    padding-bottom: 0.25rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 1px $nu-grey;
  }
  
  .ds_categories {
    margin-bottom: 1rem;
    .button { 
      margin-right: 1rem; 
      margin-bottom: 0.25rem;
      border-radius: 2px;
    }
    .mesh {
      color: $nu-primary;
      background-color: #dbdeff;
      &:hover {
        background-color: $nu-secondary-30tint;
      }
    }
    .fast {
      color: $nu-orange;
      background-color: #f7c66c;
      &:hover {
        background-color: $nu-yellow;
      }
    }
  }
  
  .ds_maintainer {
    margin-bottom: 1rem;
    
    .maint_info {
      border: 1px solid $nu-grey-30tint;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      .button {
        margin: 0;
      }
    }
  }
  
  .ds_distributions {
    thead {
      background-color: $nu-grey-30tint;
    }
  }
  
  .ds_about {
    .card .card-divider {
      background-color: $nu-grey-30tint;
    }
    .card {
      border-radius: 3px;
    }
    .dd {
      padding: 0 2rem;
    }
  }
}

table.categories,
table.organizations {
  a {
    display: inline-block;
    width: 100%;
  }
  tr.selected_category,
  tr.selected_organization, {
    background-color: #2199e8;
    a {
      color: white;
    }
  }
}

.dataset_header_row {
  .home {
    font-size: 2rem;
    a {
      color: $nu-grey-75tint;
    }
  }
  .button {
    margin: 0;
  }
}

#dataset_search_form {
  input {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
  }
  #q {
    width: 30rem;
  }
  .button {
    color: $nu-grey;
    font-weight: bold;
    margin-left: -5px;
    padding: 0.8em 1em;
    background-color: $nu-primary-30tint;
    &:hover {
      box-shadow: 1px 1px 1px $nu-grey;
    }
  }
}

// _results.haml
table.datasets {
  line-height: initial;
  border-collapse: initial;
  
  td {
    padding-top: 1.5rem;
  }
  
  .title_result {
    a {
      font-size: 1.2rem;
    }
  }
  
  .org_result,
  .maint_result {
    font-size: .9rem;
    color: $nu-green;
  }
  
  .desc_result {
    width: 80%;
    padding-left: 10px;
  }
  
  .cat_result {
    color: $nu-yellow;
  }
}

.dataset_fast_categories,
.dataset_categories,
.dataset_organizations_departments,
.dataset_organizations_research_cores,
.dataset_organizations_institutes_and_centers
{
  span.select2 {
    margin-left: -5px;
    margin-bottom: 10px;
  }
}
