.grid-x.grid-margin-x.flash_msg
  .medium-4.cell
  .medium-4.cell.text-center
    - flashes = {notice: 'success', alert: 'alert', error: 'alert', secondary: 'secondary'}
    - flashes.each do |key, value|
      - if flash[key]
        .callout{"class" => "#{value}", "data-closable" => ""}
          %p= flash[key]
          %button.close-button{ "aria-label" => "Dismiss alert", |
                                "data-close" => "", "id" => "flash_close", |
                                :type => "button" } |
            %span{"aria-hidden" => "true"} ×
  .medium-4.cell